.intro {

  background-color: $light;

 .center-content {
     display: -webkit-flex;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     -webkit-align-items: center;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-justify-content: center;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
         -ms-flex-direction: column;
             flex-direction: column;
     -webkit-flex-direction: column;


 }

 .logo {
     height: 60px;
     width: 60px;
     margin-top: -50px;
     margin-bottom: 50px;
 }


  .bar-footer {
    background-color: #3b5998;
    button {
      margin: 0;

    }
  }
}

/** Error Messages **/

/** Styling for the username field **/
label.item.has-error {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error exists**/
label.item.has-error-lr {
  border-bottom: 2px solid red;
}

/** Styling for the password field when an error has been resolved**/
label.item.valid-lr {
  border-left: 2px solid green;
  border-right: 2px solid green;
}

/** Styling for the error text and container **/
.form-errors {
  margin: 5px 0
}

.form-error {
  padding: 2px 0 2px 16px;
  color: red;
}
